@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300;400&family=Montserrat:wght@400;600&family=Sarala:wght@400;700&display=swap');

@font-face 
{ 
font-family: "Prisma";  
src: url("../font/Prisma.ttf"); 
}
* {
    padding: 0;
    margin: 0;
    color: white;
    font-family: 'Chivo', sans-serif;
    font-weight: 300;
    box-sizing: border-box;
    background-color: #10002B;
}

body{
    width: 100%;
    height: 1000000px;
}
body::-webkit-scrollbar {
    width: 5px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-thumb {
    background-color: #3C096C;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    /* creates padding around scroll thumb */
}

.background {
    color: #000000;
    width: 100%;
    height: 100vh;
    background-size: cover;
}

.header {
    background-color: #10002B;
    padding: 10px 10px;
}

.container {
    margin: 0 auto;
    width: 92%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container img {
    height: 52.5px;
    width: 206px;
}

.slide{
    width: 80%;
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
    transition: all 0.4s;
}

.slides{
    width: 150px;
    height: 300px;
}
.textos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 600px;
    list-style: none;
}

.textos li {
    display: flex;
    margin: 2px 15px;
    color: #FFFFFF;
    align-items: center;
    transition: 0.6s;
    position: relative;
}

.textos li::after {
    content: " ";
    width: 0%;
    height: 2px;
    background-color: #E0AAFF;
    /*background: linear-gradient(90deg, rgba(224,170,255,1) 0%, rgba(123,44,191,1) 51%, rgba(224,170,255,1) 100%);*/
    position: absolute;
    bottom: -3px;
    left: 0px;
    transition: 0.5s;
    border-radius: 2px;

}

.textos li:hover::after {
    width: 100%;
}

a {
    color: white;
    text-decoration: none;
    font-size: larger;
}

/* --BANNER--*/

.banner {

    display: flex;
    height: 85%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;

}

.vid {
    width: 60%;
    height: 500px;
    margin: 25px;
}

.dancecentral{
    margin-top: 5%;
    width: 500px;
    float: right;
    align-items: center;
}

.dancecentral p{
    text-align: center;
    margin: 25px;
    margin-right: 50px;
    font-size: 22px;
}

.dancecentral img{
    width: 300px;
    margin-left: 80px;;
}

.social {
    background-image: url("../assets/gif1.gif");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 3px solid purple;
}

.social .container {
    width: 90%;
    padding: 30px 30px;
}

.social .container img {
    height: 30%;
    width: 30%;
}

.texto p {
    color: #FFFFFF;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 14;
}

.texto h2 {
    color: white;
    display: flex;
    align-items: center;
    margin-top: 3px;
    text-align: center;
    font-size: 50px;
    font-weight: 500;
}

/* --FOOTER--*/

.footer {
    width: 100%;
    height: auto;
    background: #10002B;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
}
/*as medidas estão na metade*/
.footer img {
    height: 52.5px;
    width: 206px;
}

.footer p {
    color: rgb(255, 255, 255);
    padding-top: 17px;
    font-size: 12px;
}


.footer .container {
    padding: 15px 10px;
    justify-content: space-evenly;
    margin: auto;

}

/*--LINKS--*/

.links {
    display: flex;
    flex-direction: row;
}

.links h4 {
    font-weight: 500;
    font-size: 28px;
    margin-bottom: 5px;
    cursor: default;
}

.links li {
    margin-top: 6px;
    margin-right: 50px;
}

.links a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
}

.links ul {
    width: auto;
    list-style:none;
}
 .media{
    margin-left: 50px;
 }

.media img {
    margin-top:7px ;
    height: 30px;
    width: 30px;
    margin-left: 15px;
    cursor: pointer;
}

.media h4 {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 5px;
    cursor: default;
}

.copyright {
    margin: auto;
    text-align: center;
}

.cards{
    height: 550px;
    margin: 15px;
}
.title{
    font-size: 50px;
    text-align: center;
    font-family: Prisma;
}

.gallery {
	padding: 5px;
	display:grid;
	grid-template-columns: repeat(20, 20%);
	grid-template-rows: 5px;
	grid-column-gap: 5px;
	grid-row-gap: 5px;
	height: 430px;
    overflow:scroll;
}

li {
	display: inline-block;
}