@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300;400&family=Montserrat:wght@400;600&family=Sarala:wght@400;700&display=swap');

@font-face 
{ 
font-family: "Prisma";  
src: url("../font/Prisma.ttf"); 
}
* {
    padding: 0;
    margin: 0;
    color: white;
    font-family: 'Chivo', sans-serif;
    font-weight: 300;
    box-sizing: border-box;
    background-color: #10002B;
}

body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-thumb {
    background-color: #3C096C;
    border-radius: 20px;
}
.navbar{
    color: #10002B;
    width: 100%;
    height: auto;
    padding: 10px 10px;
    margin: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Chivo', sans-serif;
    font-weight: 300;
}

.navbar img {
    height: 52.5px;
    width: 206px;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 600px;
    list-style: none;
    padding: 0px;
    margin: 0px;
    position: relative;
}

.navbar li {
    display: flex;
    margin: 2px 15px;
    color: #FFFFFF;
    align-items: center;
    transition: 0.6s;
    position: relative;
}

.navbar li::after {
    content: " ";
    width: 0%;
    height: 4px;
    background-color: #E0AAFF;
    position: absolute;
    bottom: -3px;
    left: 0px;
    transition: 0.5s;
    border-radius: 2px;
}

.navbar li:hover::after {
    width: 100%;
}

a {
    color: white;
    text-decoration: none;
    font-size: larger;
}

.navbar ul li{
    float: left;
    display: inline-block;
    text-align: center;
}

.navbar ul ul li{
    float: none;
    display: list-item;
    position: relative;
    width: 140px;
    margin: 0px;
    margin-top: 8px;
}

.navbar ul ul{
    display: none;
    position: absolute;
}

.navbar ul li:hover > ul{
    display: block;
}

.navbar ul ul li{
    position: relative;
}
.navbar ul ul ul{
    margin-left: 138px;
    margin-top: -30px;
    padding: 0px;
    width: 150px;
    height: auto;
}

.navbar ul ul ul li{
    position: relative;
    background-color: #E0AAFF;
    margin-top: 8px;
}

.navbar a{
    display: block;
    text-decoration: none;
    color: #FFFFFF;
}

.vid {
    width: 50%;
    height: 500px;
    margin: 25px;
}

.dancecentral{
    margin-top: 2%;
    width: 500px;
    float: right;
    align-items: center;
}

.dancecentral p{
    text-align: center;
    margin: 25px;
    margin-right: 50px;
    font-size: 22px;
}

.dancecentral img{
    width: 300px;
    margin-left: 80px;;
}

.dancecentral a {
    margin-left: 35px;
    font-size: 50px;
}

.redtexto{
    background: #FFFFFF;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Prisma;
    text-align: center;
}

.redtexto:hover{
    background: linear-gradient(45deg, rgba(224,170,255,1) 0%, rgb(235, 2, 146) 51%, rgba(224,170,255,1) 100%);;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.social {
    background-image: url("../assets/gif1.gif");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 3px solid purple;
}

.social .container {
    width: 90%;
    padding: 30px 30px;
}

.social .container img {
    height: 30%;
    width: 30%;
}

.texto p {
    color: #FFFFFF;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 14;
}

.texto h2 {
    color: white;
    display: flex;
    align-items: center;
    margin-top: 3px;
    text-align: center;
    font-size: 50px;
    font-weight: 500;
}

/* --FOOTER--*/

.footer {
    width: 100%;
    height: auto;
    background: #10002B;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
}
/*as medidas estão na metade*/
.footer img {
    height: 52.5px;
    width: 206px;
}

.footer p {
    color: rgb(255, 255, 255);
    padding-top: 17px;
    font-size: 12px;
}


.footer .container {
    padding: 15px 10px;
    justify-content: space-evenly;
    margin: auto;

}

/*--LINKS--*/

.links {
    display: flex;
    flex-direction: row;
}

.links h4 {
    font-weight: 500;
    font-size: 28px;
    margin-bottom: 5px;
    cursor: default;
}

.links li {
    margin-top: 6px;
    margin-right: 50px;
}

.links a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
}

.links ul {
    width: auto;
    list-style:none;
}
 .media{
    margin-left: 50px;
 }

.media img {
    margin-top:7px ;
    height: 30px;
    width: 30px;
    margin-left: 15px;
    cursor: pointer;
}

.media h4 {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 5px;
    cursor: default;
}

.copyright {
    margin: auto;
    text-align: center;
}

.title{
    font-size: 50px;
    text-align: center;
    font-family: Prisma;
}
.equipes{
    height: 80vh;
}
.gallery {
    align-items: center;
    margin-top: 50px;
    height: 50px;
    margin-left: 210px;
}
.card {
    height: 220px;
    width: 150px;
    margin-left: 50px;
    margin-bottom: 25px;
    transition: 0.5s all ease-in-out;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.name{
    display:none;
}

.card:hover {
    transform: scale(1.2);
    width: 200px;
}

.card#flash{
    background-image: url(../assets/banners/flash.png);
}
.card#flash:hover{
    background-image: url(../assets/banners/flashplayers.png);
}

.card#glitter{
    background-image: url(../assets/banners/gliterrati.png);
}
.card#glitter:hover{
    background-image: url(../assets/banners/gliterratiplayers.png);
}

.card#HD{
    background-image: url(../assets/banners/Hi\ def.png);
}
.card#HD:hover{
    background-image: url(../assets/banners/hidefplayers.png);
}

.card#lush{
    background-image: url(../assets/banners/lush.jfif);
}
.card#lush:hover{
    background-image: url(../assets/banners/lushplayers.png);
}

.card#ripitide{
    background-image: url(../assets/banners/repitide.png);
}
.card#ripitide:hover{
    background-image: url(../assets/banners/repitideplayers.png);
}