@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300;400&family=Montserrat:wght@400;600&family=Sarala:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    color: white;
    font-family: 'Chivo', sans-serif;
    font-weight: 300;
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    width: 5px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-thumb {
    background-color: #3C096C;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    /* creates padding around scroll thumb */
}

.background {
    color: #000000;
    width: 100%;
    height: 100vh;
    background-size: cover;
}

.header {
    background-color: #10002B;
    padding: 10px 10px;
}

.container {
    margin: 0 auto;
    width: 92%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container img {
    height: 52.5px;
    width: 206px;
}

.textos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 600px;
    list-style: none;
}

.textos li {
    display: flex;
    margin: 2px 15px;
    color: #FFFFFF;
    align-items: center;
    transition: 0.6s;
    position: relative;
}

.textos li::after {
    content: " ";
    width: 0%;
    height: 2px;
    background-color: #E0AAFF;
    /*background: linear-gradient(90deg, rgba(224,170,255,1) 0%, rgba(123,44,191,1) 51%, rgba(224,170,255,1) 100%);*/
    position: absolute;
    bottom: -3px;
    left: 0px;
    transition: 0.5s;
    border-radius: 2px;

}

.textos li:hover::after {
    width: 100%;
}

a {
    color: white;
    text-decoration: none;
    font-size: larger;
}

/* --BANNER--*/

.banner {

    display: flex;
    height: 85%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;

}

.divisao {
    width: 100%;
    height: 9px;
    background: black;
    }

.carrosel p {
    padding-left: 40px;
    color: #FFFFFF;
    font-size: 55px;
    font-weight: 300;
}

/* --CAMPO VALORES--*/

.values {
    display: flex;
    flex-direction: column;
    padding: 15px 15px;
    background-color: black;
}

.caixaformulario {
    display: flex;
    justify-content: space-around;
    padding: 40px 40px;
}

.campo {
    width: 20.00vw;
    min-height: max-content;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(95, 18, 158, 0.39);
    padding: 8px 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.campo img {
    width: 145px;
    height: 145px;
}

.campo h4 {
    padding-top: 13px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: purple;
}

.campo p {
    justify-content: center;
    padding: 12px 8px;
    font-size: 16px;
    text-align: center;
    color: #000000;

}

.social {
    background-image: url("../assets/gif1.gif");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 3px solid purple;
}

.social .container {
    width: 90%;
    padding: 30px 30px;
}

.social .container img {
    height: 30%;
    width: 30%;
}

.texto p {
    color: #FFFFFF;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 14;
}

.texto h2 {
    color: white;
    display: flex;
    align-items: center;
    margin-top: 3px;
    text-align: center;
    font-size: 50px;
    font-weight: 500;
}

/* --FOOTER--*/

.footer {
    width: 100%;
    height: auto;
    background: #10002B;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
}
/*as medidas estão na metade*/
.footer img {
    height: 52.5px;
    width: 206px;
}

.footer p {
    color: rgb(255, 255, 255);
    padding-top: 17px;
    font-size: 12px;
}


.footer .container {
    padding: 15px 10px;
    justify-content: space-evenly;
    margin: auto;

}

/*--LINKS--*/

.links {
    display: flex;
    flex-direction: row;
}

.links h4 {
    font-weight: 500;
    font-size: 28px;
    margin-bottom: 5px;
    cursor: default;
}

.links li {
    margin-top: 6px;
    margin-right: 50px;
}

.links a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
}

.links ul {
    width: auto;
    list-style:none;
}
 .media{
    margin-left: 50px;
 }

.media img {
    margin-top:7px ;
    height: 30px;
    width: 30px;
    margin-left: 15px;
    cursor: pointer;
}

.media h4 {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 5px;
    cursor: default;
}

.copyright {
    margin: auto;
    text-align: center;
}